@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: rgb(0,6,36);
  background: linear-gradient(90deg, rgba(0,6,36,1) 0%, rgba(0,212,255,1) 0%, rgba(5,166,182,1) 100%, rgba(6,97,171,1) 100%, rgba(9,30,121,1) 100%, rgba(2,172,226,1) 100%);
}

:root {
  --primary-color: rgba(0,212,255,1);
  --secondary-color: blue;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}