header {
    background: var(--color-white);
    margin-top: -10px;
    height: 130px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-items ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-items hr {
    border: none;
    width: 80%;
    background: var(--secondary-color);
    border-radius: 10px;
}

.menu-items ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.1rem;
    font-weight: 600;
}

.menu-items ul li span {
    font-size: 1.5rem;
    font-weight: 600;

}

.menu-items ul li a:hover, 
.menu-items ul span:hover {
    color: var(--secondary-color);
    letter-spacing: 1px;
}


.dropdown-menu ul {
    display: grid;
    position: absolute;
}

.dropdown-menu ul li {
    font-weight: 600;
    margin-bottom: -47px;
    width: 120px;
    padding: 10px;
    background: skyblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.dropdown-menu ul li:hover {
    background: #0661ab;
    color: var(--color-white);
}

.dropdown-menu ul li a:hover {
    color: var(--color-black);
}

.logo img {
    width: 150px;
    height: 150px;
    margin-top: -10px;
    margin-bottom: -20px;
}

.login-cart {
    margin-right: 40px;
    display: flex;
    gap: 45px;
    position: relative;
}

.login-cart button {
    background: #00a6ff;
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 75px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;

}

.login-cart button:hover {
    background: var(--color-white);
    color: var(--secondary-color);
    border: 2px solid #00a6ff;
}

.login-cart span {
    background: #00d4ff;
    padding: 1px 3px;
    border-radius: 10px;
    color: black;
    position: absolute;
    top: -22px;
    right: 3px;
    font-size: 1.1rem;
    font-weight: 600;
}

.login-cart .cart-icon {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    color: black;
}

.login-cart .cart-icon:hover {
    color: var(--secondary-color);
}






@media(min-width: 1280px) {
    .menu .nav-dropdown {
        display: none;
    } 
}

@media(max-width: 1280px) {
    .header {
        padding: 12px 50px;
        margin-bottom: 20px;
    }

    .menu img {
        margin-left: 40px;
        width: 180px;
    }

    .menu-items ul {
        gap: 2rem;
    }

    .menu .nav-dropdown {
        display: none;
    }

    .menu-items .dropdown-menu li {
        width: 400px;
    }
}


@media(max-width: 1024px) {

    .menu-items {
        margin-left: 40px;
    }

    .menu-items ul {
        gap: 1.5rem;
    }
    
    .menu .nav-dropdown {
        display: none;
    }

    .menu-items .dropdown-menu li {
        width: 100px;
        margin-bottom: -22px;
    }

    .login-cart {
        margin-left: 60px;
    }
}


@media(max-width: 800px){
    .header {
        margin-left: -130px;
    }
    .menu img  {
        width: 140px;
        margin-left: 55px;
    }

    .login-cart  {
        margin-left: 50px;
    }

    .menu .nav-dropdown {
        display: none;
    }
}




@media(max-width: 500px) {
    .header {
        margin-top: -25px;
        margin-bottom: 50px;
    }
    .header .menu {
        display: flex;
        gap: 120px;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .menu img  {
        width: 140px;
    }

    .menu .nav-dropdown {
        margin-left: 30px;
        display: block;
        font-size: 40px;
        rotate: -90deg;
        transition: 0.5s;
    }

    .menu-items {
        display: flex;
        height: 80px;
        width: 100%;
        position: absolute;
        justify-content: center;
        top: 100px;
        margin-left: 135px;
    }

    .login-cart {
        margin-left: 40px;
    }
}