header {
    background: var(--color-white);
    margin-top: -10px;
    height: 130px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-items ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-items hr {
    border: none;
    width: 80%;
    background: var(--secondary-color);
    border-radius: 10px;
}

.menu-items ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.1rem;
    font-weight: 600;
}

.menu-items ul li span {
    font-size: 1.5rem;
    font-weight: 600;

}

.menu-items ul li a:hover, 
.menu-items ul span:hover {
    color: var(--secondary-color);
    letter-spacing: 1px;
}

/* .dropdown-menu{
    display: none;
}

.menu-items ul li a:hover .dropdown-menu{
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    background-color:black;
}

.menu-items ul li a:hover .dropdown-menu ul{
    display: block;
    margin: 10px;
}

.menu-items ul li a:hover .dropdown-menu ul li{
    width: 180px;
    padding: 10px;
} */

.logo img {
    width: 150px;
    height: 150px;
    margin-top: -10px;
    margin-bottom: -20px;
}

.login-cart {
    margin-right: 40px;
    display: flex;
    gap: 45px;
    position: relative;
}

.login-cart button {
    background: #00a6ff;
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 75px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;

}

.login-cart button:hover {
    background: var(--color-white);
    color: var(--secondary-color);
    border: 2px solid #00a6ff;
}

.login-cart span {
    background: #00d4ff;
    padding: 1px 3px;
    border-radius: 10px;
    color: black;
    position: absolute;
    top: -22px;
    right: 3px;
    font-size: 1.1rem;
    font-weight: 600;
}

.login-cart .cart-icon {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    color: black;
}

.login-cart .cart-icon:hover {
    color: var(--secondary-color);
}

