.relatedanimals {
    margin-top: 40px;
}

.relatedanimals h1 {
    font-size: 2rem;
}

.relatedanimas-1 {
    margin-top: 40px;
    margin-right:  200px;
    margin-left: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}





@media(max-width: 1024px) {
    .relatedanimas-1 {
        margin-left: 130px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {
    .relatedanimas-1 {
        margin-left:30px;
        gap: 10px;
    }
}

@media(max-width: 500px) {
    .relatedanimas-1 {
        margin-left: 150px;
        grid-template-columns: repeat(1, 1fr);
    }
}

