.section_padding {
    padding: 4rem 0;
}

.footer {
    margin-top: 60px;
    background-color: #0661ab;
}

.sb_footer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 30px;
}

.sb_footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.sb_footer-links-div img {
    width: 150px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.sb_footer-links-div p {
    color: var(--color-white);
    font-size: 16px;
}

.sb_footer-links-div h4 {
    font-family: 'Pacifico';
    font-size: 25px;
}

.sb_footer-social-icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.sb_footer-social-icons a {
    color: var(--color-white);
    font-size: 30px;
}

.sb_footer-social-icons a:hover {
    color: rgb(180, 252, 255);
}

.sb_footer-links-div .links {
   margin-top: 25px;
}

.sb_footer-links-div .links a {
    text-decoration: none;
}

.sb_footer-links-div .links p {
    margin-bottom: 10px;
}

.sb_footer-links-div .links p:hover {
    color: rgb(180, 252, 255);
}

.sb_footer-payment {
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

.sb_footer-payment span {
    font-size: 30px;
    color: var(--color-white);
}

.sb_footer-payment span:hover {
    color: rgb(180, 252, 255);
}

.sb_footer-address {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.sb_footer-address span {
    font-size: 25px;
    color: var(--color-white);
}

.sb_footer-bellow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    color: var(--color-white);
}

.sb_footer-terms {
    display: flex;
    gap: 20px;
}

.sb_footer-terms a {
    color: var(--color-white);
    text-decoration: none;
}

.sb_footer-terms a:hover {
    color: rgb(180, 252, 255);
}






@media(max-width: 768px) {
    .sb_footer {
        margin-left: 10px;
        margin-right: 10px;
    }

    .sb_footer-links {
        flex-direction: row;
        gap: 20px;
    }

    .sb_footer-links-div img {
        width: 100px;
    }

    .sb_footer-links-div h4 {
        font-size: 18px;
    }

    .sb_footer-links-div p {
        font-size: 12px;
    }

    .sb_footer-social-icons a {
        font-size: 25px;
    }

    .sb_footer-payment span {
        font-size: 20px;
    }

    .sb_footer-address span {
        font-size: 20px;
    }

    .sb_footer-bellow {
        flex-direction: column;
        gap: 10px;
    }

    .sb_footer-terms {
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width: 500px) {
    .footer {
        width: 700px;
    }
    .sb_footer-links-div img {
        width: 80px;
    }

    .sb_footer-links-div h4 {
        font-size: 15px;
    }

    .sb_footer-links-div p {
        font-size: 10px;
    }

    .sb_footer-social-icons a {
        font-size: 20px;
    }

    .sb_footer-payment span {
        font-size: 15px;
    }

    .sb_footer-address span {
        font-size: 15px;
    }

    .sb_footer-bellow {
        gap: 5px;
    }

    .sb_footer-terms {
        gap: 15px;
    }
}