.hero {
    background: rgb(0,6,36);
    background: linear-gradient(90deg, rgba(0,6,36,1) 0%, rgba(6,97,171,1) 0%, rgba(0,212,255,1) 100%, rgba(5,166,182,1) 100%, rgba(9,30,121,1) 100%, rgba(2,172,226,1) 100%);
}

.main {
    margin-top: -10px;
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    height: 90vh;
}

.main_left {
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_left h1 {
    margin-top: -10px;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--color-white);
    letter-spacing: 1px;
}

.main_left_title p {
    color: #1486c0;
    font-style: italic;
}

.main_left_content p {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 35px;
}

.main_right img {
    width: 650px;
    height: 650px;
}








@media(max-width: 1280px) {
    .hero {
        height: 650px;
    }

    .main {
        margin-left: 50px;
    }

    .main .main_left_title {
        margin-top: -560px;
    }

    .main_left_title h1 {
        font-size: 2.5rem;
    }

    .main_left_content p {
        font-size: 1.1rem;
    }
}



@media(max-width: 1024px) {
    .hero {
        height: 500px;
    }

    .main {
        margin-left: 50px;
    }

    .main .main_left_title {
        margin-top: -700px;
    }

    .main_left_title h1 {
        font-size: 2.5rem;
    }

    .main_left_content p {
        font-size: 1rem;
    }

    .main_right img {
        width: 500px;
        height: 500px;
    }
}



@media(max-width: 800px) {
    .main .main_left_title {
        margin-top: -380px;
    }

    .main_left_title h1 {
        font-size: 1.8rem;
    }

    .main_left_content p {
        line-height: 25px;
        font-size: 0.8rem;
    }

    .main_right img {
        width: 500px;
        height: 500px;
    }
}



@media(max-width: 500px) {
    .hero {
        width: 700px;
        height: 420px;
    }

    .main .main_left_title {
        margin-top: -380px;
    }

    .main_left_title h1 {
        font-size: 1.7rem;
    }

    .main_left_content p {
        line-height: 25px;
        font-size: 0.9rem;
    }

    .main_right img {
        width: 400px;
        height: 400px;
    }
}