.hero {
    background: rgb(0,6,36);
    background: linear-gradient(90deg, rgba(0,6,36,1) 0%, rgba(5,112,182,1) 0%, rgba(0,212,255,1) 100%, rgba(2,172,226,1) 100%, rgba(6,97,171,1) 100%, rgba(9,30,121,1) 100%);;
}

.main {
    margin-top: -10px;
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    height: 90vh;
}

.main_left {
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_left h1 {
    margin-top: -10px;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--color-white);
    letter-spacing: 1px;
}

.main_left_title p {
    color: #1486c0;
    font-style: italic;
}

.main_left_content p {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 35px;
}

.main_right img {
    width: 650px;
    height: 650px;
}